<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/Style/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='../static/Style/style.css') }}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
      integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Wayne Enterprises Stock Price Predictor</title>
  </head>

  <body>
    <div style="color: rgb(154, 157, 207)" class="container">
      <form action="{{ url_for('predict')}}" method="post">
        <h2>Wayne Enterprises, Inc.'s Next Five days Stock Price Predictor</h2>
        <b></b>
        <h5>
          Enter the Closing trend of the Stock of last five days (approx value
          from 10000 to 20000)
        </h5>

        <input
          id="first"
          name="first_day"
          type="number"
          placeholder="Closing value of first day"
        />
        <input
          id="second"
          name="second_day"
          type="number"
          placeholder="Colsing value of second day"
        />
        <input
          id="third"
          name="third_day"
          type="number"
          placeholder="Closing value of third day"
        />
        <input
          id="fourth"
          name="fourth_day"
          type="number"
          placeholder="Closing value of fourth day"
        />
        <input
          id="fifth"
          name="fifth_day"
          type="number"
          placeholder="Closing value of the fifth day"
        />

        <br /><br /><button id="sub" type="submit ">
          Stock Trend Next Five Days.
        </button>
        <br />
      </form>

      <br /><br />

      <p>{{prediction_0}}</p>

      <p>{{prediction_1}}</p>

      <p>{{prediction_2}}</p>

      <p>{{prediction_3}}</p>

      <p>{{prediction_4}}</p>

      <br /><br />

      <footer>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/bhargav-ram-d-r">Linkedin</a>
          </li>
        </ul>
        <ul>
          <li><a href="mailto: bhargavramdr@gmail.com">Gmail</a></li>
        </ul>
        <ul>
          <li><a href="https://github.com/bhargavramdr">Github</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
