<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
        integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title> Wayne Enterprises Stock Price Predictor</title>
</head>


<body background="static\wayne-logo-fake-movie-company-logos.png">
    <div style="color: rgb(218, 42, 94)">
        <form action="{{ url_for('predict')}}" method="post">

            <h2>Wayne Enterprises, Inc.'s Next Five days Stock Price Predictor
            </h2>
            <b></b>
            <h3>Enter the Closing trend of the Stock of last five days (approx value from 10000 to 20000)</h3>

            <input id="first" name="first_day" type="number" placeholder="Closing value of first day">
            <input id="second" name="second_day" type="number" placeholder="Colsing value of second day">
            <input id="third" name="third_day" type="number" placeholder="Closing value of third day">
            <input id="fourth" name="fourth_day" type="number" placeholder="Closing value of fourth day">
            <input id="fifth" name="fifth_day" type="number" placeholder="Closing value of the fifth day">





            <br><br><button id="sub" type="submit ">Stock Trend Next Five Days.</button>
            <br>




        </form>



        <br><br>

        <p>{{prediction_0}}</p>


        <p>{{prediction_1}}</p>


        <p>{{prediction_2}}</p>


        <p>{{prediction_3}}</p>


        <p>{{prediction_4}}</p>

        <br><br>
        <!-- 

        <div>
            <canvas id="myChart"></canvas>

            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['First Day', 'Second Day', 'Third Day', 'Fourth Day', 'Fifth Day'],
                        datasets: [{
                            label: 'Next Five Day Stock Trend',
                            data: [1, 19, 3, 5, 2],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)'

                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div> -->

        <!-- 
        <p>{{ prediction_plot }}</p> -->

        <!-- <img src={{prediction_plot}} height="42" width="42"> -->

        <!-- <br><br> -->


    </div>